# Dependencies
node_modules

# Build outputs
.next
out
build
dist

# Environment files
.env*

# Logs
*.log

# OS files
.DS_Store

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Package manager files
package-lock.json
yarn.lock
pnpm-lock.yaml
